doctype
html
    head
        meta(charset='utf-8')
        title STATUS
        meta(name='description', content='')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        style.
          .info {
              color: white;
              text-align: center;
              margin: 0 auto;
              padding: 10em 0 10em 0;
          }
          .statusOK {
              background-color: green;
          }
          .statusNOK {
              background-color: red;
          }
          h1 {
              font-size: 7em;
          }

    - if (locals.status == 1)
        body.statusOK
            .info
                h1 OK
                h3 Last request: #{locals.lastRequestDate.toLocaleDateString()} #{locals.lastRequestDate.toLocaleTimeString()}
    - else
        body.statusNOK
            .info
                h1 NOOOOOOOOO!
                h3 Last request: #{locals.lastRequestDate.toLocaleDateString()} #{locals.lastRequestDate.toLocaleTimeString()}
    form(id='addform', method='POST', action='/ping')
        button(type='submit') Ping